<div class="row">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Subgroups</h3>
        </div>
        <div class="col col-xs-6 text-right">
          <button type="button" class="btn btn-sm btn-primary btn-create" (click)="formModal.open('md')">Create New
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <kendo-grid
    [data]="gridView"
    [height]="300"
    [scrollable]="scrollable"
    [sort]="sort"
    [sortable]="{mode: 'multiple'}"
    (sortChange)="sortChange($event)"
  >
    <kendo-grid-column title="ID">
      <template kendoCellTemplate let-rowIndex="rowIndex">
        {{rowIndex + 1}}
      </template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name"></kendo-grid-column>
    <kendo-grid-column [style]="{'text-align': 'center'}" [headerStyle]="{'text-align': 'center'}">
      <template kendoHeaderTemplate>
        <span class="glyphicon glyphicon-cog center-text"></span>
      </template>
      
      <template kendoCellTemplate let-dataItem>
        <a class="btn btn-default"><span class="glyphicon glyphicon-edit center" (click)="onEdit(dataItem)"></span></a>
        <a class="btn btn-danger" (click)="onDelete(dataItem)"><span
          class="glyphicon glyphicon-trash center"></span></a>
      </template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<modal #formModal [keyboard]="!requesting" [backdrop]="!requesting">
  <form [formGroup]="subgroupForm" (ngSubmit)="onFormSubmit()">
    <modal-header [show-close]="true">
      <h4 class="modal-title" *ngIf="!edit">Add new Subgroup</h4>
      <h4 class="modal-title" *ngIf="edit">Edit Subgroup</h4>
    </modal-header>
    <modal-body>
      <wad-loading [show]="requesting"></wad-loading>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" formControlName="name">
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" (click)="formModal.close()">Cancel</button>
      <button type="submit" class="btn btn-primary" *ngIf="!edit" [disabled]="!subgroupForm.valid">Save</button>
      <button type="submit" class="btn btn-primary" *ngIf="edit" [disabled]="!subgroupForm.valid">Edit</button>
    </modal-footer>
  </form>
</modal>


