<div class="row">
  <div class="panel panel-primary panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Topics</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<wad-panel-group>
  <!--Each wad-panel represents a Topic-->
  <wad-panel *ngFor="let topic of studentTopics">
    <!--Header is the title of the Topic-->
    <wad-panel-header>
      {{topic.name}}
    </wad-panel-header>
    
    <!--Body contains all the tasks of the respective topic-->
    <wad-panel-body>
      <!--One panel represents a Task-->
      <wad-panel-group *ngFor="let task of topic.tasks">
        <wad-panel>
          <wad-panel-header>
            <div class="panel panel-default">
              <div class="panel-body panel-task cursor-hand"><a>{{task.name}}</a>
                <div class="btn-group btn-group-xs pull-right">
                  <span class="label" [ngClass]="{'label-success':task.solutionSent,'label-danger':!task.solutionSent}">
                    {{task.solutionSent?'Solution sent':'Solution not sent'}}</span>
                  <span class="label label-default">{{task.testsEnabled?'Automated Test':'Manual Test'}}</span>
                  <span class="label label-danger">Deadline: {{task.deadline}}</span>
                  <span class="label"
                        [ngClass]="{'label-primary':!isNumber(task.mark), 'label-success':isNumber(task.mark)}">
              Score {{task.mark}}</span>
                </div>
              </div>
            </div>
          </wad-panel-header>
          <wad-panel-body id="details">
            <div id="wad-task-details">
              <div class="jumbotron wad-task-details-header">
                <div class="container">
                  <h2>{{task.name}}</h2>
                  <p>{{task.description}}</p>
                </div>
              </div>
              <div class="jumbotron">
                <div class="row">
                  <div class="col-md-2 no-padding-right">
                    <li class="list-group-item list-group-item-danger">
                      <div class="wad-list-item-headline">Deadline:</div>
                      <div>{{task.deadline}}</div>
                    </li>
                  </div>
                  <div class="col-md-2 no-padding">
                    <li class="list-group-item list-group-item-info">
                      <div class="wad-list-item-headline">Language:</div>
                      <div>{{task.language}}</div>
                    </li>
                  </div>
                  <div class="col-md-2 no-padding">
                    <li class="list-group-item list-group-item-warning">
                      <div class="wad-list-item-headline">Score:</div>
                      <div>{{task.mark}}</div>
                    </li>
                  </div>
                  <div class="col-md-6">
                    <button class="fileUpload btn btn-primary" [disabled]="deadlinePassed(task.deadline)">
                      <span>Upload Solution</span>
                      <input type="file" class="upload" (change)="uploadSolutionFile($event)"
                             [disabled]="deadlinePassed(task.deadline)"/>
                    </button>
                    <span *ngIf="deadlinePassed(task.deadline)" style="color: red">Deadline passed. You can no longed submit solutions.</span>
                    <div class="file-upload-confirm">
                      <span id="wad-solution-file-name">{{filename}}</span>
                      <div class="btn btn-xs btn-success" id="wad-confirm-file-upload" *ngIf="isClassVisible"
                           (click)="sendSolution(task.id)">Send
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </wad-panel-body>
        </wad-panel>
      </wad-panel-group>
    </wad-panel-body>
  </wad-panel>
</wad-panel-group>

<footer class="footer-small">
  <p>This are all your tasks for the current semester.</p>
  <p>Please be responsible with each deadline as the platform will prevent uploading solutions to tasks that have passed
    their deadline.</p>
  <p>Contact information: <a href="mailto:help@eapp.com">
    help@eapp.com</a>.</p>
</footer>

<modal #loadingModal [keyboard]="!requesting" [backdrop]="!requesting">
  <modal-header [show-close]="true">
    <h4 class="modal-title" *ngIf="requesting">Sending solution.Please wait...</h4>
    <h4 class="modal-title" *ngIf="!requesting">Solution sent <b>{{error?'unsuccessfully':'successfully'}}</b></h4>
  </modal-header>
  <modal-body>
    <wad-loading [show]="requesting"></wad-loading>
    <p class="h4">{{message}}</p>
  </modal-body>
</modal>
