<div id="wad-task-details">
    <div class="jumbotron">
        <div class="container">
            <h2>Dijkstra's algorithm</h2>
            <p>
                Dijkstra's algorithm is an algorithm for finding the shortest paths between nodes in a graph,
                which may represent, for example, road networks.For a given source node in the graph, the 
                algorithm finds the shortest path between that node and every other.[3]:196–206 It can also 
                be used for finding the shortest paths from a single node to a single destination node by 
                stopping the algorithm once the shortest path to the destination node has been determined.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="wad-task-container" id="wad-task-details-name">
            <h3>Request: </h3>
            <p>Implement Dijkstra's algorithm on multiple threads</p>
        </div>
    </div>
    <div class="wad-task-container container">
        <div class="row">
            <div class="col-md-4">
                <div class="fileUpload btn btn-primary">
                    <span>Upload Solution</span>
                    <input type="file" class="upload"/>
                </div>
            </div>
        </div>
    </div>
</div>