body {
    background-color: #e9ebee;
}
.jumbotron p, .wad-task-container p {
    font-size: 20px
}
.jumbotron {
    background-color: white;
    border-radius: 0;
}
.wad-task-details-header {
    margin-top:30px;
}
.wad-task-container {
    padding-left: 60px;
    padding-right: 60px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    float: right;
    border-radius: 2px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.wad-warning-notification {
    color: #ed3f7e;
}
#wad-plagiarism-notification{
    float: right;
}
.wad-row {
    margin-bottom: 30px;
}
.list-group-item {
    text-align: center;
}

.wad-list-item-headline {
    font-size: 21px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.no-padding-right{
    padding-right: 0;
}
