<div class="panelbar-wrapper">
  <kendo-panelbar>
    <kendo-panelbar-item title="Golf">
      <kendo-panelbar-item title="Top News" ></kendo-panelbar-item>
      <kendo-panelbar-item title="Photo Galleries" ></kendo-panelbar-item>
      <kendo-panelbar-item title="Video Records" ></kendo-panelbar-item>
      <kendo-panelbar-item title="Radio Records" ></kendo-panelbar-item>
    </kendo-panelbar-item>
    <kendo-panelbar-item title="Swimming" >
      <kendo-panelbar-item title="Top News" ></kendo-panelbar-item>
      <kendo-panelbar-item title="Photo Galleries" ></kendo-panelbar-item>
    </kendo-panelbar-item>
  </kendo-panelbar>
</div>
