<div class="row">
  <div class="panel panel-primary panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Topic Management
            <button type="button" class="label label-primary pull-right">Add new</button>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<wad-panel-group>
  <!--Each wad-panel represents a Topic-->
  <wad-panel *ngFor="let topic of topics">
    <!--Header is the title of the Topic-->
    <wad-panel-header>
      {{topic.name}}
      <div class="btn-group btn-group-xs pull-right">
        <button type="button" class="label label-primary" (click)="formModal.open('md')">Add new</button>
      </div>
    </wad-panel-header>
    
    <!--Body contains all the tasks of the respective topic-->
    <wad-panel-body>
      <!--One panel represents a Task-->
      <div class="panel panel-default">
        <div class="panel-body panel-task cursor-hand" *ngFor="let task of topic.tasks">
          <a>{{task.name}}</a>
          <div class="btn-group btn-group-xs pull-right">
            <span class="label label-default">{{task.testsEnabled?'Automated Test':'Manual Test'}}</span>
            <span class="label label-danger">Deadline:{{task.deadline}}</span>
            <span class="label label-warning">Uploads {{task.sentSolutions}}/{{task.noStudents}}</span>
          </div>
        </div>
      
      </div>
    </wad-panel-body>
  </wad-panel>
</wad-panel-group>

<footer class="footer-small">
  <p>This is the management panel for all the tasks you assign to your students.</p>
  <p>Add/Remove tasks and edit them using the panels above.</p>
  <p>Contact information: <a href="mailto:help@eapp.com">
    help@eapp.com</a>.</p>
</footer>


<modal #formModal [keyboard]="!requesting" [backdrop]="!requesting">
  <form>
    <modal-header [show-close]="true">
      <h4 class="modal-title">Add new task</h4>
    </modal-header>
    <modal-body>
      <wad-loading [show]="requesting"></wad-loading>
      <div class="form-group">
        <label for="name">Name</label>
        <input #name type="text" class="form-control" name="name" id="name">
      </div>
      
      <div class="form-group">
        <label for="name">Description</label>
        <textarea #description type="text" class="form-control textarea-description" name="name"
                  id="description"></textarea>
      </div>
      
      <div class="form-group">
        <label for="name">Deadline</label>
        <input #deadline class="input-deadline" type="date" name="deadline">
      </div>
      
      <div class="form-group">
        <label for="name">Language</label>
        <select>
          <option value="java">Java</option>
          <option value="python">Python</option>
          <option value="c">C</option>
        </select>
      </div>
      
      <div class="form-group">
        <label><input type="checkbox" value="" (click)="toggleTests()">Enable Tests</label>
        <div *ngIf="autoTests">
          <input id="input-1a" type="file">
          <input id="output-1a" type="file">
        </div>
      </div>
      
      <div class="form-group">
        <label><input type="checkbox" value="">Enable Anti-Plagiarism</label>
      </div>
    
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" (click)="formModal.close()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
    </modal-footer>
  </form>
</modal>
