<div class="row">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Students</h3>
        </div>
        <div class="col col-xs-6 text-right">
          <button type="button" class="btn btn-sm btn-primary btn-create" (click)="formModal.open('md')">Add New
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <kendo-grid
    [data]="gridView"
    [height]="300"
    [scrollable]="scrollable"
    [sort]="sort"
    [sortable]="{mode: 'multiple'}"
    (sortChange)="sortChange($event)"
  >
    <kendo-grid-column title="ID">
      <template kendoCellTemplate let-rowIndex="rowIndex">
        {{rowIndex + 1}}
      </template>
    </kendo-grid-column>
    <kendo-grid-column field="ssn" title="SSN"></kendo-grid-column>
    <kendo-grid-column field="firstName" title="FIrst Name"></kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name"></kendo-grid-column>
    <kendo-grid-column field="gender" title="Gender"></kendo-grid-column>
    <kendo-grid-column field="subgroup" title="Subgroup"></kendo-grid-column>
    <kendo-grid-column field="username" title="Username"></kendo-grid-column>
    <kendo-grid-column [style]="{'text-align': 'center'}" [headerStyle]="{'text-align': 'center'}">
      <template kendoHeaderTemplate>
        <span class="glyphicon glyphicon-cog center-text"></span>
      </template>
      
      <template kendoCellTemplate let-dataItem>
        <a class="btn btn-default"><span class="glyphicon glyphicon-edit center" (click)="onEdit(dataItem)"></span></a>
        <a class="btn btn-danger" (click)="onDelete(dataItem)"><span
          class="glyphicon glyphicon-trash center"></span></a>
      </template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<modal #formModal [keyboard]="!requesting" [backdrop]="!requesting" (onDismiss)="dismissModal()">
  <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
    <modal-header [show-close]="true">
      <h4 class="modal-title" *ngIf="!edit">Add new Student</h4>
      <h4 class="modal-title" *ngIf="edit">Edit Student</h4>
    </modal-header>
    <modal-body>
      <wad-loading [show]="requesting"></wad-loading>
      <div class="form-group">
        <label for="ssn">SSN</label>
        <input type="text" class="form-control" name="ssn" id="ssn" formControlName="ssn">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName">
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="radio-inline">
          <label><input type="radio" name="gender" formControlName="gender" value="MALE">Male</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" name="gender" formControlName="gender" value="FEMALE">Female</label>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label>Subgroups</label>
        <select class="form-control" formControlName="subgroup">
          <option *ngIf="!studentForm.controls.subgroup.valid">-- Select Subgroup --</option>
          <option *ngFor="let subgroup of subgroups">{{subgroup.name}}</option>
        </select>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-primary" *ngIf="!edit" [disabled]="!studentForm.valid">Save</button>
      <button type="submit" class="btn btn-primary" *ngIf="edit" [disabled]="!studentForm.valid">Edit</button>
    </modal-footer>
  </form>
</modal>

