<div class="container container-fluid" id="students-solutions-container">
  <div class="row">
    <div class="panel panel-primary panel-table">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Students' solutions</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <wad-panel-group>
    <!--Each wad-panel represents a Topic-->
    <wad-panel *ngFor="let student of students">
      <!--Header is the title of the Topic-->
      <wad-panel-header>
        <!--One panel represents a Task-->
        <div class="panel panel-default">
          <div class="panel-body panel-task row wad-padding-row cursor-hand" id="student-details-container">
            <div class="col-md-4">{{student.firstName + ' ' + student.lastName + '(' + student.id + ')'}}</div>
            <div class="col-md-2">{{student.mark}}</div>
            <div class="btn-group btn-group-xs pull-right">
              <button class="label label-warning" style="margin-right: 10px"
                      (click)="openModalAndSaveStudent(student)"
                      [disabled]="!deadlinePassed() || !solutionSent(student)"> Edit grade
              </button>
              <button class="label label-primary"
                      [routerLink]="['../../', 'solutions',student.solutionId,'tasksolution']"
                      [disabled]="!student.solutionId">View Solution
              </button>
            </div>
          </div>
        </div>
      </wad-panel-header>
      
      <!--Body contains all the tasks of the respective topic-->
      <wad-panel-body>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Other Student</th>
              <th>Similarity Score</th>
              <th>Compare solutions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let othStd of getOtherSimilarityFromMap(student.id)">
              <td>{{othStd.firstName + ' ' + othStd.lastName + '(' + othStd.id + ')'}}</td>
              <td [ngClass]="{'greenColor':othStd.similarityPercent < 20, 'yellowColor':othStd.similarityPercent >=20 &&
                othStd.similarityPercent <50, 'redColor':othStd.similarityPercent >=50}">
                {{othStd.similarityPercent + ' %'}}
              </td>
              <td><a target="_blank" [href]="othStd.url">Click here</a></td>
            </tr>
          </tbody>
        </table>
      </wad-panel-body>
    </wad-panel>
  </wad-panel-group>
</div>

<modal #gradeModal [keyboard]="!requesting" [backdrop]="!requesting" (onDismiss)="dismissModal()">
  <form [formGroup]="gradeForm" (ngSubmit)="onFormSubmit()">
    <modal-header [show-close]="true">
      <h4 class="modal-title">Edit grade</h4>
    </modal-header>
    <modal-body>
      <wad-loading [show]="requesting"></wad-loading>
      <div class="form-group">
        <label for="grade">Grade</label>
        <input #gradeInput type="number" class="form-control" name="grade" id="grade" min="0" max="100"
               formControlName="grade">
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!gradeForm.valid">Edit</button>
    </modal-footer>
  </form>
</modal>
