<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/secretary']">E-app</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['subgroups']">Subgroups</a></li>
        <li><a [routerLink]="['professors']">Professors</a></li>
        <li><a [routerLink]="['students']">Students</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" wad-dropdown>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <wad-panel-group>
    <wad-panel>
      <wad-panel-header>
    <span
      class="glyphicon glyphicon-folder-close"></span>Content
      </wad-panel-header>
      <wad-panel-body>
        <table class="table">
          <tr>
            <td>
              <span class="glyphicon glyphicon-pencil text-primary"></span><a
              href="http://www.jquery2dotnet.com">Articles</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-flash text-success"></span><a
              href="http://www.jquery2dotnet.com">News</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-file text-info"></span><a
              href="http://www.jquery2dotnet.com">Newsletters</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-comment text-success"></span><a
              href="http://www.jquery2dotnet.com">Comments</a> <span class="badge">42</span>
            </td>
          </tr>
        </table>
      </wad-panel-body>
    </wad-panel>
    
    <wad-panel>
      <wad-panel-header>
    <span
      class="glyphicon glyphicon-folder-close"></span>Content
      </wad-panel-header>
      <wad-panel-body>
        <table class="table">
          <tr>
            <td>
              <span class="glyphicon glyphicon-pencil text-primary"></span><a
              href="http://www.jquery2dotnet.com">Articles</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-flash text-success"></span><a
              href="http://www.jquery2dotnet.com">News</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-file text-info"></span><a
              href="http://www.jquery2dotnet.com">Newsletters</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-comment text-success"></span><a
              href="http://www.jquery2dotnet.com">Comments</a> <span class="badge">42</span>
            </td>
          </tr>
        </table>
      </wad-panel-body>
    </wad-panel>
  </wad-panel-group>
</div>
