.cursor-hand {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    width: 1183px;
  }
}

.wad-navbar {
  border-radius: 0;
}

.wad-navbar-brand {
  padding: 13px 15px;
  margin-right: 50px;
}

.wad-navbar-brand-img {
  height: 100%;
}
