body {
    background-color: #e9ebee;
}
.wad-navbar {
    border-radius: 0;
}
.wad-navbar-brand {
    padding: 13px 15px;
    margin-right: 50px;
}
.wad-navbar-brand-img {
    height: 100%;
}
.student-container {
    background-color: #e9ebee;
}

.cursor-hand {
  cursor: pointer;
}

.wad-notifications {
  float: left;
  position: relative;
  display: block;
  top: 20px;
  right: 10px;
}
