body {
  background-color: #e9ebee;
}

body, html {
  height: 100%;
}

#task-solution-container {
  height: 500px;
  background-color: #e9ebee;
  border: 1px solid #AAA;
}

.full-height {
  height: 92%;
  overflow: scroll;
}

#task-solution-header {
  line-height: 2.6;
  background-color: #999999;
  color: #ffffff;
  font-family: monospace;
}

::-webkit-scrollbar {
  display: none;
}

.wad-back-button {
  line-height: 2;
  font-size: 29px;
}

.wad-back-button:hover {
  cursor: pointer;
}
