<div class="row">
  <div class="panel panel-primary panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Task Management</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<wad-panel-group>
  <!--Each wad-panel represents a Topic-->
  <wad-panel>
    <!--Header is the title of the Topic-->
    <wad-panel-header>
      Formal Languages and Automata
      <div class="btn-group btn-group-xs pull-right">
        <span class="label label-primary">Add new</span>
      </div>
    </wad-panel-header>

    <!--Body contains all the tasks of the respective topic-->
    <wad-panel-body>
      <!--One panel represents a Task-->
      <div class="panel panel-default">
        <div class="panel-body panel-task">Homework 1 - Setting up a network using Cisco PKT
          <div class="btn-group btn-group-xs pull-right">
            <span class="label label-default">Automated-Test</span>
            <span class="label label-danger">Deadline:  12/11/2016</span>
            <span class="label label-warning">Uploads 15/30</span>
          </div>
        </div>
      </div>
    </wad-panel-body>
  </wad-panel>

  <wad-panel>
    <wad-panel-header>
      Real Time Computing Systems
      <div class="btn-group btn-group-xs pull-right">
        <span class="label label-primary">Add new</span>
      </div>
    </wad-panel-header>
    <wad-panel-body>
      <!--One panel represents a Task-->
      <div class="panel panel-default">
        <div class="panel-body panel-task">Homework 1 - Setting up a network using Cisco PKT
          <div class="btn-group btn-group-xs pull-right">
            <span class="label label-default">Automated-Test</span>
            <span class="label label-danger">Deadline:  12/11/2016</span>
            <span class="label label-warning">Uploads 15/30</span>
          </div>
        </div>
      </div>
    </wad-panel-body>
  </wad-panel>

  <wad-panel>
    <wad-panel-header>
      Computer Networks Management
      <div class="btn-group btn-group-xs pull-right">
        <span class="label label-primary">Add new</span>
      </div>
    </wad-panel-header>
    <wad-panel-body>
      <!--One panel represents a Task-->
      <div class="panel panel-default">
        <div class="panel-body panel-task">Homework 1 - Setting up a network using Cisco PKT
          <div class="btn-group btn-group-xs pull-right">
            <span class="label label-default">Automated-Test</span>
            <span class="label label-danger">Deadline:  12/11/2016</span>
            <span class="label label-warning">Uploads 15/30</span>
          </div>
        </div>
      </div>
    </wad-panel-body>
  </wad-panel>

</wad-panel-group>

<footer class="footer-small">
  <p>This is the management panel for all the tasks you assign to your students.</p>
  <p>Add/Remove tasks and edit them using the panels above.</p>
  <p>Contact information: <a href="mailto:help@eapp.com">
    help@eapp.com</a>.</p>
</footer>
