body {
  margin-top: 50px;
}

.glyphicon {
  margin-right: 10px;
}

.panel-body {
  padding: 0px;
  border-bottom-style: inset;
}

.panel-default {
  margin-top: 5px;
}

.panel-default>.panel-heading {
    background-color: #ffffff;
}

.panel-default>.panel-collapse>.panel-body {
    margin: 10px 20px;
}
.panel-body table tr td {
  padding-left: 15px;
}

.panel-body .table {
  margin-bottom: 0px;
}

.cursor-hand {
  cursor: pointer;
}
